<head>
    <style>
        #list33173243450 {
            position: absolute;
            border: 1px dotted gray;
            list-style-type: none;
            font-size: 12px;
            margin: 0px;
            padding: 0px;
            width: 31px;
            height: 17px;
            left: 59px;
            top: 530px;
        }
    </style>
    <style>
        #table33173129347 {
            border: 1px dotted gray;
            position: absolute;
            width: 189px;
            height: 77px;
            left: 157px;
            top: 78.375px;
        }
    </style>
    <style>
        #table33173113874 {
            border: 1px dotted gray;
            position: absolute;
            width: 349px;
            height: 106px;
            left: 58px;
            top: 358px;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PRIMEROS PASOS CON BRACKETS</title>
    <meta name="description" content="Una guía interactiva de primeros pasos para Brackets.">
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <h1>PRIMEROS PASOS CON BRACKETS</h1>
    <h2>¡Ésta es tu guía!</h2>

    <!--
            HECHO CON <3 Y JAVASCRIPT
        -->

    <p class="dzu">
        Bienvenido a Brackets, un nuevo editor de código abierto que entiende el diseño web. Es un editor de código liviano y potente al mismo tiempo que incluye herramientas visuales dentro del mismo para que puedas obtener la ayuda que necesites cuando la necesites.
    </p>

    <h2 style="pointer-events: auto;">Agragado para estudio</h2>

    <p class="dzu1" style="height: 62px;">
        Hola com estan. Hola
    </p>

    <!--
            ¿QUÉ ES BRACKETS?
        -->
    <p>
        <em>Brackets es un editor diferente.</em> Brackets tiene varias características únicas como la Edición rápida y la Vista previa dinámica y muchas más que no vas a encontrar en otros editores. Además, Brackets está escrito en JavaScript, HTML y CSS. Esto significa que la mayoría de quienes usan Brackets tienen las habilidades necesarias para modificar y extender el editor. De hecho, nosotros usamos Brackets todos los días para desarrollar Brackets. Para saber más sobre cómo utilizar estas características únicas, continúa leyendo.
        <table id="table33173129347" style="pointer-events: auto;">
            <tbody>
                <tr>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>32</td>
                    <td style="pointer-events: auto;">33</td>
                </tr>
            </tbody>
        </table>
    </p>

    <!--
            EMPIEZA CON TUS PROPIOS ARCHIVOS
        -->

    <h3>Proyectos en Brackets</h3>
    <p>
        Para poder editar tu propio código en Brackets, puedes simplemente abrir la carpeta que contiene los archivos. Brackets considera a la carpeta abierta como el "proyecto"; características como las Sugerencias de código, la Vista previa dinámica y la Edición rápida solo utilizan los archivos contenidos dentro de la carpeta actualmente abierta.
    </p>

    <samp>
            Una vez que estés listo para salir del proyecto de ejemplo y editar tu propio código, puedes usar el menú
            despegable en la barra de la izquierda para cambiar de carpeta. En estos momentos, el menú despegable dice
            "Primeros Pasos" - la cual es la carpeta que contiene el archivo que estás viendo en estos momentos. Haz
            clic en el menú despegable y selecciona "Abrir carpeta…" para abrir tu carpeta.
            También puedes usar el menú despegable para abrir las carpetas que abriste recientemente, incluyendo este
            proyecto de ejemplo.
        </samp>

    <h2>Estamos intentando algunas cosas nuevas</h2>

    <!--
            LA RELACIÓN ENTRE HTML, CSS Y JAVASCRIPT
        -->
    <h3>Edición rápida de CSS y JavaScript</h3>
    <p>
        Se acabó aquello de estar saltando de documento en documento perdiendo de vista lo que estás haciendo. Mientras estás escribiendo HTML, usa el atajo de teclado <kbd>Cmd/Ctrl + E</kbd> para abrir un editor rápido en línea con todo el contenido CSS relacionado. Ajusta tu CSS y oprime <kbd>ESC</kbd> para volver a tu HTML, o simplemente mantenga las reglas CSS abiertas para que pasen a formar parte de tu editor de HTML. Si pulsas <kbd>ESC</kbd> fuera de un editor rápido, todos se cerrarán a la vez. La edición rápida también funciona con archivos LESS y SCSS, incluyendo las reglas anidadas.
    </p>

    <samp>
            ¿Quieres verlo funcionando? Coloca tu cursor sobre la etiqueta <!-- <samp> --> y oprime
            <kbd>Cmd/Ctrl + E</kbd>. Deberías ver aparecer un editor rápido de CSS más arriba, mostrando la regla de
            CSS que le afecta. La edición rápida funciona también en atributos de tipo clase e id. También puedes
            utilizarlo en tus archivos LESS o SCSS.
            
            Puedes crear nuevas reglas de la misma manera. Haz clic en una de las etiquetas <!-- <p> --> de más arriba
            y oprime <kbd>Cmd/Ctrl + E</kbd>. Todavía no hay reglas para ese elemento, pero puedes hacer clic en el
            botón Nueva Regla para añadir una nueva regla a las etiquetas <!-- <p> -->.
        </samp>

    <a href="screenshots/quick-edit.png">
        <img alt="Una captura de pantalla con un Editor Rápido de CSS" src="screenshots/quick-edit.png">
    </a>

    <p>
        También puedes usar el mismo atajo para editar otras cosas--como funciones en JavaScript, colores y funciones de temporización de animaciones--y estamos añadiendo más y más continuamente.
    </p>
    <p>
        Por ahora, no se pueden anidar editores en línea, por lo que sólo puedes usar la característica de Edición Rápida cuando el cursor está en un editor "completo".
    </p>

    <!--
            LIVE PREVIEW
        -->
    <h3>Visualiza cambios en archivos HTML y CSS en vivo en el navegador</h3>
    <p>
        ¿Conoces ese baile de "guardar/recargar" que llevamos años haciendo? ¿Ése en el que haces cambios en tu editor, oprimes guardar, cambias al navegador y recargas para por fin poder ver el resultado? Con Brackets, ya no tienes que hacerlo.
    </p>
    <p>
        ¡Brackets abrirá una <em>conexión en vivo</em> con tu navegador local y le enviará los cambios en el archivo HTML y CSS conforme escribas! Puede que ya estés haciendo algo parecido con las herramientas de desarrollo del navegador, pero con Brackets ya no necesitas copiar y pegar el código final de vuelta a tu editor. ¡Tu código se ejecuta en el navegador, pero vive en tu editor!
    </p>

    <h3>Resaltado en vivo de elementos HTML y reglas CSS</h3>
    <p>
        Brackets te ayuda a ver cómo los cambios en HTML y CSS afectan a tu página. Cuando tu cursor se encuentre sobre una regla de CSS, Brackets resaltará todos los elementos afectados en el navegador. Del mismo modo, cuando estés editando un archivo HTML, Brackets también resaltará los elementos correspondientes en tu navegador.
    </p>

    <samp>
            Si tienes instalado Google Chrome, puedes probarlo tú mismo. Haz clic sobre el icono del rayo de la
            esquina superior derecha o presiona <kbd>Cmd/Ctrl + Alt + P</kbd>. Cuando la Vista previa dinámica está
            funcionando en un documento HTML, todos los documentos CSS relacionados se pueden editar en tiempo real.
            El icono pasará de gris a dorado cuando Brackets consiga establecer una conexión con tu navegador.
            
            Ahora, coloca el cursor sobre la etiqueta <!-- <img> --> que se encuentra un poco más arriba. Observa
            cómo aparece el resaltado azul alrededor de la imagen en Chrome. Luego, utiliza <kbd>Cmd/Ctrl + E</kbd>
            para abrir las reglas de CSS existentes. Intenta cambiar el tamaño del borde de 10px a 20px o el color
            del fondo de "transparent" a "hotpink". Si Brackets y tu navegador están funcionando en paralelo, verás
            los cambios reflejados de manera instantánea en tu navegador. Genial, ¿verdad?
        </samp>

    <p class="note">
        Actualmente, Brackets sólo soporta Vista previa dinámica para HTML y CSS. Aún así, en la versión actual, los cambios en archivos JavaScript son recargados automáticamente en el navegador cuando guardas. En estos momentos estamos trabajando en el soporte de Vista previa dinámica para JavaScript. Las actualizaciones automáticas sólo son posibles en Google Chrome, pero esperamos poder trasladar esta funcionalidad a todos los grandes navegadores.
    </p>

    <h3>Vista Rápida</h3>
    <p>
        Para aquellos que todavía no han memorizado las equivalencias de color entre Hex y RGB, Brackets permite ver exactamente qué color se está utilizando rápida y fácilmente. Tanto en CSS como en HTML, simplemente mueve el cursor sobre cualquier valor de color o gradiente y Brackets mostrará una previsualización del mismo de manera automática. Lo mismo sirve para imágenes: simplemente pasa el cursor sobre la dirección de una imagen en Brackets, y éste mostrará una vista en miniatura de la misma.
    </p>

    <samp>
            Para probar la previsualización tú mismo, coloca el cursor en la etiqueta <!-- <body> --> al principio de
            este documento y oprime <kbd>Cmd/Ctrl + E</kbd> para abrir un editor CSS. Ahora, simplemente mueve el
            cursor sobre cualquiera de los colores dentro del CSS. También puedes verlo funcionando en gradientes
            abriendo un editor de CSS en la etiqueta <!-- <html> --> y pasando el cursor por cualquiera de los valores
            para las imágenes de fondo. Para probar la vista previa de imágenes, coloca el cursor sobre la imagen
            incluida antes en éste documento.
        </samp>

    <h3>¿Necesitas algo más? ¡Prueba una extensión!</h3>
    <p>
        Además de todas las bondades naturales de Brackets, nuestra amplia y creciente comunidad de desarrolladores de extensiones ha creado cientos de extensiones que añaden útiles funcionalidades. Si hay algo que necesitas que Brackets no soporta, es bastante probable que alguien haya construido una extensión para ello. Para navegar o buscar en la lista de extensiones disponibles, selecciona <strong>Archivo &gt;
            Gestionar extensiones...</strong> y haz clic en la pestaña "Disponibles". Cuando encuentres una que quieras, simplemente presiona el botón "Instalar" a su derecha.
    </p>

    <!--
            HAZNOS SABER LO QUE PIENSAS
        -->
    <h2>Involúcrate</h2>
    <p>
        Brackets es un proyecto de código abierto. Desarrolladores web de todo el mundo están contribuyendo a construir un mejor editor de código. Haznos saber lo que piensas, comparte tus ideas o contribuye directamente al proyecto.
    </p>
    <ul>
        <li><a href="http://brackets.io">Brackets.io</a>
        </li>
        <li><a href="http://blog.brackets.io">Blog del equipo de Brackets</a>
        </li>
        <li><a href="https://github.com/adobe/brackets">Brackets en GitHub</a>
        </li>
        <li><a href="https://brackets-registry.aboutweb.com">Registro de Extensiones de Brackets</a>
        </li>
        <li><a href="https://github.com/adobe/brackets/wiki">Wiki de Brackets</a>
        </li>
        <li><a href="https://groups.google.com/forum/#!forum/brackets-dev">Lista de correo de los desarrolladores de Brackets</a>
        </li>
        <li><a href="https://twitter.com/brackets">@brackets en Twitter</a>
        </li>
        <li>Habla con los desarrolladores de Brackets por IRC en <a href="http://webchat.freenode.net/?channels=brackets&amp;uio=d4">#brackets en Freenode</a>
        </li>
    </ul>



    <!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[     CODE THE WEB     ]:::::]
    [:::::[  http://brackets.io  ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
    <table id="table33173113874" style="pointer-events: auto;">
        <tbody>
            <tr>
                <td>11</td>
                <td>12</td>
                <td>13</td>
            </tr>
            <tr>
                <td>21</td>
                <td>22</td>
                <td>23</td>
            </tr>
            <tr>
                <td>31</td>
                <td style="pointer-events: auto;">32</td>
                <td>33</td>
            </tr>
        </tbody>
    </table>
    <ul id="list33173243450">
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>
</body>